{% extends 'layout.html'  %}

{% block title %} Create {% endblock %}

{% block  content %}
<form {% if student == Null %} action="/student/create" {% else %} action="/student/{{student.student_id}}/update" {% endif %} method="POST" id="create-form">
  <div>
    <label>Roll Number:</label>
    <input type="text" name="roll_number" value=" {% if student != Null %} {{student.roll_number}} {% endif %}" required />
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name" value="{% if student != Null %}{{student.first_name}}{% endif %}" required />
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name" value="{% if student != Null %}{{student.last_name}}{% endif %}" />
  </div>
  <div>
    <label>Select Courses:</label>

    {% for course in courses %}
      <input
	id="{{ course.course_id }}"
	type="checkbox"
	name="courses"
	value="{{ course.course_id }}"
	{% if student.courses[loop.index0] in courses  %} checked {% endif %} />

      <label for="{{ course.course_id }}">{{ course.course_code }}</label>
    {% endfor %}

  </div>

  <div>
    <input type="submit" value = "Submit">
    <a href="/">Cancel</a>
  </div>
</form>
{% endblock %}
