{% extends 'layout.html'  %}

{% block title %} Home {% endblock %}

{% block  content %}
  <h1>Students List</h1>
  {% if not students %}
    <p>No student found. Add the students now!</p>
  {% else %}
    <table id="all-students">
      <tr>
	<th>SNo</th>
	<th>Roll Number</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Actions</th>
      </tr>
      {% for student in students %}
	<tr>
          <td>{{loop.index}}</td>
          <td><a href="/student/{{student.student_id}}">{{student.roll_number}}</a></td>
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>
            <a href="/student/{{student.student_id}}/update" type="button">Update</a>
            <form action="/student/{{student.student_id}}/delete" method="post">
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
	</tr>
      {% endfor %}
    {% endif %}
  </table>
  <a href="/student/create"> +Add Student</a>
{% endblock %}
